body{
    background-image: url("assets/wood.jpg");
	color:white;
    background-attachment: fixed;
}
h1{
    font-size: 56px;
    font-weight: 900;
    font-family: 'Expo Sans Pro';
}
.tableCloth{
    padding:5px;
    color:black;
    background-image: url("assets/tableCloth.jpg");
    height:190px;

}
.explore-list{
	/*border-style: solid;*/
	padding: 2px;
}

ul{
    list-style-type: none;
}
.ul-class{
	border-style: solid;
	padding: 2px;
	margin:6px;
}

.goToIndex{
	float:right;
	font-size: 22px;
	margin: 4px;
	padding: 4px;
}
img{
	image-rendering: auto;
	padding-left: 20px;
	height: 120px;
 	width: auto;
}