body{
    background-image: url("assets/wood.jpg");
}
h1{
    font-size: 56px;
    font-weight: 900;
    font-family: 'Expo Sans Pro';
}

.container-fluid{
	background-image: url("assets/wood.jpg");
	color:white;
    background-attachment: fixed;

}
.tableCloth{
    padding:5px;
    color:black;
    background-image: url("assets/tableCloth.jpg");
}


.meal-div .row{
	border-style: solid;
	padding: 2px;
}
.row{
	margin: 4px;
}

.col-xs-4 {
	padding: 4px;
}
.text{
	padding: 4px;
}

.chef{
	padding: 4px;
}
.votes{
	padding: 4px;
}

ul{
    list-style-type: none;
}

.deleteButton{
    float:right;
    margin-top:-100px;
    margin-right:-20px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 13px 4px;
}

.deleteButton:before {
    content: "×";
}



.form-group{
    color:black;
}

input[type="text"] {
    width: 200px;
    height: 30px;
}




